.App {
  font-family: sans-serif;
  text-align: center;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

label {
  font-weight: bold;
  font-size: 2rem;
  height: 35px;
}

input {
  height: 30px;
}

.formLabels {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.form {
  display: flex;
  flex-direction: row;
}
.formInput {
}

.marv {
  font-weight: bold;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
.perfect {
  font-weight: bold;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:gold;
}
.great {
  font-weight: bold;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: limegreen;
}
.good{
  font-weight: bold;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: lightblue;
}
.ok {
  font-weight: bold;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}
.miss {
  font-weight: bold;
  font-size: 2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: pink;
}
.ex {
  font-weight: bold;
  background: black;
  font-size: 2rem;
  color: yellow;
}
